/*Caja*/

.contacto-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    background-color: rebeccapurple;
    color: white;
    margin: 2rem auto;
}

/*Dentro de la caja*/

.input-box{
    position: relative;
    width: 340px;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.input-box label{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
}

.espacio-mensaje{
    padding: 1px;
}

.espacio-mensaje textarea{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 16px;
}

.btn{
    width: 100%;
    height: 40px;
    margin-top: 1rem;
    border: 2px solid darkslateblue;
    background-color: mediumslateblue;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
}

.btn:hover{
    background-color: purple;
    border-color: darkmagenta;
}